{%extends 'core/base.html' %}

{% block title %} My Account {% endblock %}

{%block content %}
<div class="py-6, px-6">

    <h1 class="mb-6 text-xl">My Account</h1>

    <p class="mb-2">
        <strong>Username: </strong>{{request.user.username}}
    </p>

    <p class="mb-2">
        <strong>Team: </strong>{{team.name}}
    </p>

    <hr class="mb-4">

    <form action="{% url 'logout' %}" method="post" class="inline">
        {% csrf_token %}
        <button type="submit" class="py-2 px-4 bg-red-600 rounded-lg text-white">Log Out</button>
    </form>
</div>

{% endblock %}