{%extends 'core/base.html' %}

{% block title %} Clients {% endblock %}




{%block content %}

<div class="py-6 px-6">
    <h1 class="mb-4 text-xl ">Clients</h1>

    <a href="{% url 'clients_add' %}" class="inline-block py-2 px-4 bg-teal-600 rounded-lg text-white">Add Client</a>
    {% if clients %}
        <div class="mt-6 flex justify-between">
            <p class="py-4 px-2 bg-gray-200 font-semibold w-full">Name</p>
        </div>
        {% for client in clients %}
            <div class="mt-6 flex justify-between">
                <p class="py-2 px-2 w-full ">
                    <a href="{% url 'client_detail' client.id %}"> {{client.name}}</a>
                </p>
            </div>
        {% endfor %}
    {%else%}
        <p class="px-2">There are no leads in Database!</p>
    {%endif%}

</div>

{% endblock %}