<!doctype html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://cdn.tailwindcss.com"></script>

  <title>{% block title%}  {% endblock%}</title>
</head>
<body>

    <nav class="py-6 px-6 flex justify-between bg-teal-500">
        <a href="/" class="text-white">CRM Company</a>

        <div class="space-x-4">
            <a href="{% url 'about' %}" class="text-white">About</a>
            {% if request.user.is_authenticated %}
                <a href="{% url 'dashboard' %}" class="py-2 px-4 bg-teal-600 rounded-lg text-white">Dashboard</a>

                <a href="{% url 'leads_list' %}" class="py-2 px-4 bg-teal-600 rounded-lg text-white">Leads</a>

 
                <form action="{% url 'logout' %}" method="post" class="inline">
                    {% csrf_token %}
                    <button type="submit" class="py-2 px-4 bg-red-600 rounded-lg text-white">Log Out</button>
                </form>
            {% else %}
                <a href="{% url 'login' %}" class="py-2 px-4 bg-teal-600 rounded-lg text-white">Log in</a>
                <a href="{% url 'signup' %}" class="py-2 px-4 bg-teal-300 rounded-lg text-white">Sign up</a>
            {% endif %}
        </div>
    </nav>
     
    {% if messages %}
        <div class="py-6 px-6">
            {% for message in messages%}
                <div class="py-4 px-4 bg-teal-300 text-white rounded-xl">
                    {{message}}
                </div>
            {%endfor%}
        </div>
    {% endif %}

    {% block content %}

    {% endblock %}

    <footer class="py-8 text-center bg-gray-200">
        <p class="text-xs text-gray-700">Made with Love by Pushkar 2024 </p>


    </footer>
</body>
</html>